main{
    padding: 4rem 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

main .info{
    grid-column: span 3;
    color: #fff;
    text-align: center;
}


@media screen and (max-width: 769px) {
    main a{
        grid-column: span 3;
    }
}


